html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f7fb;
  color: #111827;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 22px 60px;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(10px);

  z-index: 1000;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  display: flex;
  gap: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Hero section */
.hero {
  min-height: 70vh;

  background: #0a0a0a;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
  padding: 100px 20px 60px;
}

.hero-content h1 {
  font-size: 64px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 22px;
  max-width: 750px;
  margin: 0 auto 30px;
}

/* Button */
.button {
  display: inline-block;
  background: #0066ff;
  color: white;
  padding: 16px 28px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

/* Included section */
.included {
  max-width: 1200px;
  margin: -50px auto 40px;
  padding: 50px;

  background: white;
  border-radius: 24px;

  display: flex;
  gap: 50px;
  align-items: center;

  position: relative;
}

.included-text {
  flex: 1;
}

.included h2 {
  font-size: 38px;
  margin: 10px 0;
}

.included-text p {
  font-size: 17px;
  line-height: 1.6;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-top: 25px;
}

.items div {
  background: #eef4ff;
  padding: 14px 16px;
  border-radius: 12px;
  font-weight: bold;
}

.included-image {
  flex: 1;
}

.included-image img {
  width: 100%;
  border-radius: 18px;
}

/* Contact section */
.contact {
  background: #0a0a0a;
  color: white;

  text-align: center;
  padding: 80px 20px;

  margin-top: 50px;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color: white;
}

.contact p {
  font-size: 18px;
  color: #d1d5db;
}

.price {
    display: inline-block;
    background: #2563eb;
    color: white;
    padding: 12px 24px;
    border-radius: 999px;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

.price-text {
  font-size: 24px;
  margin: 25px 0;
  color: #d1d5db;
}

.price-text span {
  color: #3b82f6;
  font-weight: bold;
  font-size: 32px;
}
